version: '3'
services:
  db:
    image: mysql:8.0.43-oracle
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
    environment:
      MYSQL_ROOT_PASSWORD: smu1234!
      MYSQL_DATABASE: smu_db
      MYSQL_USER: smu
      MYSQL_PASSWORD: smu1234!
    volumes:
      - ./db/store:/var/lib/mysql
    networks:
      - network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - db
    environment:
      # 'docker' 프로필 활성화 및 DB 이름 수정
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      OCI_SMTP_USERNAME: ${OCI_SMTP_USERNAME}
      OCI_SMTP_PASSWORD: ${OCI_SMTP_PASSWORD}
      DISCORD_WEBHOOK_URL: ${DISCORD_WEBHOOK_URL}
    networks:
      - network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - 3000:3000
    environment:
      - VITE_API_URL=http://backend:8080
    volumes:
        #소스 코드 동기화
        - ./frontend:/app
        #node_modules은 호스트와 동기화 하지 않음 -> 충돌 방지
        - /app/node_modules
    #react 개발 서버가 정상적으로 실행되도록 하는 옵션
    stdin_open: true
    tty: true
    depends_on:
      - backend
    networks:
      - network

#하나의 가상 네트워크로 묶어주는 기술 -> 컴포즈의 핵심
networks:
  network:
