version: '3'
services:
  db:
    image: mysql:8.0.43-debian
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: smu1234!
      MYSQL_DATABASE: smu_db
      MYSQL_USER: smu
      MYSQL_PASSWORD: smu1234!
    volumes:
      - ./db/store:/var/lib/mysql
    networks:
      - network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - db
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: #나중에 정해지면 작성
      SPRING_DATASOURCE_USERNAME: #나중에 정해지면 작성
      SPRING_DATASOURCE_PASSWORD: #나중에 정해지면 작성
    networks:
      - network

  frontend:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    ports:
      - 80:80
    depends_on:
      - backend
    networks:
      - network


networks:
  network: